apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-demo
  template:
    metadata:
      labels:
        app: devops-demo
    spec:
      containers:
      - name: devops-demo
        image: REPLACE_WITH_IMAGE    # pipeline will replace this
        ports:
        - containerPort: 8080
        env:
        - name: IMAGE_TAG
          value: "dev"
